/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 13, 2017, 8:36:33 PM
    Author     : K4RELS
*/

*{
    
  font-family: 'Cormorant Garamond', serif !important;
    
}
h1 {
    
    text-align: center;
    
}
#content {
    
    width: 500px;
    margin: 0 auto ;
    
}
#searchField {
    
    
    width:75% ;
    margin-bottom: 30px;
    padding-top: 15px;
   margin-right:  25px;
 
}


#randomSearch{
    
   display: inline-block;
   margin-left: 216px;

    
    
}

.random {
    padding-bottom: 20px;
    
}

.searchResult {
     padding: 5px;
     padding-left: 10px;
    
    
}

.title
{
    text-decoration: underline;
    color:black;
    
}

.searchResult:hover,
.searchResult:focus {
    
    
    border-left: blueviolet solid ;
    font-size: 1.15em;
    
}

footer {
    
    text-align: center;
    
}
